<div class="col-sm-4"></div>
<div class="col-sm-4">
  <form class="form-signin" action="/auth-data" method="POST">
    <h2 class="form-signin-heading text-center mb-2">Вход в систему</h2>

    <label for="inputLogin">Логин:</label>
    <input type="text" id="inputLogin" name="login" class="form-control mb-2" placeholder="Ваш логин" required autofocus>

    <label for="inputPassword">Пароль:</label>
    <input type="password" id="inputPassword" name="password" class="form-control mb-2" placeholder="Ваш пароль" required>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Войти</button>
  </form>
</div>
<div class="col-sm-4"></div>