@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;

}

ol, ul {
    list-style: none;
}

@font-face {
    font-family:Puuump;
    src: url(font/ofont.ru_DG_Pump.ttf);
    font-weight: normal;
}

@font-face {
    font-family:;
    src: url(fonts/);
    font-weight: bold;
}

body {
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    list-style-type: none;
}

.otstup {
 width: 100%;
 height: 18px;

}

.otstup-color {
    width: 100%;
    height: 18px;
    background-color: yellow;

}

.otstup-one {
 margin-top: 10px;
}

/* слайдер цены */

.sliderCont {
    width: 100%;
}

#slider {
    width: 100%;
}

/* fotorama */



/* Modal */
.modal-header {

    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
}

.modal-my {
    font-size: 17px;
    color: #005bb6;
    font-family: Roboto,sans-serif;
    font-weight: 500;
}

.modal-my-text {
    font-size: 14px;
    line-height: 2;
    color: black;
    font-family: Roboto,sans-serif;
    font-weight: 300;

}

.modal-my-gorod {
    color: #0075e9;
    font-weight: 600;
}

.modal-my-kolichestvo-mnogo {
    margin-left: 40px;
    color: #127f00;
    font-weight: 600;
}

.modal-my-kolichestvo-malo {
    margin-left: 40px;
    color: red;
    font-weight: 600;
}

.modal-my-zagol {

    color: red;
    font-weight: 600;
}

.modal-my-kolichestvo-dostat {
    margin-left: 40px;
    color: black
    font-weight: 600;
}

/* Modal end */




/* HEAD */

.header__head {
  align-items: center;

  padding: 10px 0;
  margin: 0 auto !important;
}

/* serch */

.head__search {
  position: relative;
  max-width: 445px;
}
.search__field, .search__buttom {
  border: 1px solid #999999;
  outline: none;
}
.search__field {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: white;
  padding-left: 8px;

  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 13px;

  color: #000000;
}

.search__field:focus {
  border: 1px solid #6c6c6c;
}

.search__field::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.search__select {
  position: absolute;
border: 1px solid grey ;
  top: 0px;
  right: 44px;
  width: 134px;
    height: 30px;

  background: white;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: black;

  outline: none !important;
}

.select__item {
  /*  background: #999999; */
}
.select__item-title {
  color:#d71e49;
}




.search__buttom {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 15px;
  background: #9a9a9a;
  cursor: pointer;
  outline: none !important;
}
.search__buttom:before {
  content: "\f002";
  font-family: FontAwesome;
  color: white;
  font-size: 15px;
}

.search__buttom:hover {
  background: #6c6c6c;
}
/* search end */

/* ваш город/магазин */
.head__your-city {

    padding-left: 25px;
  /* background: url(img/map-pin.png) no-repeat; */
}

.your-city__icon {
  align-items: center;
}

.your-shop__icon {
  align-items: center;
}
.head__your-shop {
  /* background: url(img/korzina.png) no-repeat; */
}

.your-city__title{
  padding: 5px 0 0 8px;
  margin-bottom: 0 !important;
  /*height: 20px;*/

  font-family: 'Roboto', sans-serif;
    font-weight: 500;
  font-size: 13px;
  color: #d71e49;

}

.your-city__button {
  padding: 0 0 0 8px;
  margin-bottom: 0 !important;

  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #b1b1b1;
}

.your-city__button:hover {
  text-decoration: none;
  color: #000000;
}

.your-shop__title{
  padding: 5px 0 0 8px;
  margin-bottom: 0 !important;
  /*height: 20px;*/

  font-family: 'Roboto', sans-serif;
    font-weight: 500;
  font-size: 13px;
  color: #d71e49;

}

.your-shop__button {
  padding: 0 0 0 8px;
  margin-bottom: 0 !important;

  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #b1b1b1;
}

.your-shop__button:hover {
  text-decoration: none;
  color: #000000;
}

/* ваш город/магазин end */
/* HEAD END */

/* NAVBAR */

.header__nav-line {
    background: #4a4b4d;

    border-bottom: 4px solid #323335;
    border-top: 2px solid #323335;

    font-family: 'Roboto', sans-serif;
    font-size: 16.85px;
    font-weight: bold;
}

.nav-line {
    padding: 0 0 !important;

    justify-content: center !important;
}

/* dropdown-list */

.menu-icon{
    padding: 0 10px 5px 0
}

.nav-line__menu {
    padding: 10.5px 29px !important;

    color: white;
}

.nav-line__menu:hover {
    text-decoration: none;
    background: #d71e49;
    color: white;

    box-shadow: 0px 4px #b60d35, 0px -2px #b60d35;
}

.dropdown-menu .dropdown-menu {
    left: 100%;
}
.dropdown-item + .dropdown-menu {
    display: block;
    opacity: 0;
    transition: opacity .3s 1s;
}
.dropdown-item.submenu::after {

}
.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
    opacity: 1;
    transition: opacity .3s .1s;
    z-index: 10000;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 14rem !important;
    padding: 2rem 0 !important;
    margin: .125rem 0 0;

    text-align: left;
    list-style: none;
    background-color: #b60d35 !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0rem !important;

}

.dropdown-item {
    font-family: 'Roboto', sans-serif;
    font-size: 15.51px !important;
    font-weight: bold;
    color: white !important;
}

.dropdown-item:hover {
    background-color: #d71e49 !important;
}

.dropdown-item:focus {
    background-color: #d71e49 !important;
}

/* dropdown-list end */

.link{
    padding: 13px 29px !important;

    border-left: 1px solid #323335;

    color: white;
}

.link-akcia {
    padding: 13px 29px !important;

    border-left: 1px solid #323335;

    color: #ff0000;
}

.link:hover,.link-akcia:hover {
    text-decoration: none;
    background: #d71e49;
    color: white;

    box-shadow: 0px 4px #b60d35, 0px -2px #b60d35;
}

.list-pokupka {
    display: inline-block;
    width: 25px;
    height: 31px;
    background: url(../img/list.png);
    align-content: center;
    vertical-align: middle;
    margin-left: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    outline:none;
}
/*
.list-pokupka:hover {

    background: url(../img/list-hover.png);
} */

/* корзина */

td{
    padding: 10px;
    border: dashed 1px #62c6ff;
    vertical-align: middle;
}

.table td, .table th {

    vertical-align: middle;

}

.title {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color: #095587;

}

.all_price {
    font-weight: bold;
    font-size: 16px;
}


.spis-num {
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 15px ;
    background: red;
    color: white;
    display: inline-block;
margin-left: 16px;
    vertical-align: top;
    outline:none;


}

.fon {
background: white;
}

/* NAVBAR END */

/* Carousel  */

.carousel-my {
    position: relative;
    padding-right: 0;
    padding-left: 0;

}

/* Carousel END */

/* Zagolovok  */

.title_box {
    width: 100%;
    height: 70px;
    text-align: center;
    clear: both;
}

.horizontal_line {
    width: 100%;
    height: 2px;
    background: #CF1C30;
    top: 50%;
    position: relative;
}

.text-title {
    background: #FFFFFF;
    font-weight: 800;
    color: #CF1C30;
    position: relative;
    display: inline !important;
    padding: 0 15px 0 15px;
    font-family: arial, sans-serif;
    font-size: 30px;
    top: 10px;
}

.text-title-grey {
    background: #f8f8f8;
    font-weight: 800;
    color: #CF1C30;
    position: relative;
    display: inline !important;
    padding: 0 15px 0 15px;
    font-family: arial, sans-serif;
    font-size: 30px;
    top: 10px;
}

/* Zagolovok END */

/* Bannera */

.banner-big {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .banner-sm {
     position: relative;
     width: 100%;
     height: auto;
       padding-bottom: 10px;

  /*   padding-bottom: 20px; */
}

/* Bannera END */

/* Categoriy  */


.wrap {
    width: 300px;
    position: relative;
    overflow: hidden;
}
.wrap__title {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 40%;
    opacity: 0;
    transition: opacity 0.5s;
}
.wrap:hover .wrap__title {
    opacity: 1;
}
.wrap img {
    width: 100%;
    height: auto;
}



.categor-pic {
  /*  background: url('../img/categor1.jpg') no-repeat center top; */
    height: 263px;
    width: 263px;
    margin: 0 auto;
}

.categor-teni {
    position: absolute;
    opacity: 0;
padding-top: 20px;
    width: 254px;
    height: 190px;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    line-height: 19px;
    text-align: center;
    color: #fff;
    text-decoration: underline;
}

.categor-pic:hover .categor-teni{
    opacity: 1;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}

.categor-img {
    width: 100%;
    height: auto;
}


/* Categoriy END */


/* ONE TOVAR  */

.ot-padd{
    padding-left: 25px;
    padding-right: 15px;
}


.ot-text-skidka{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 800;
    font-family: Roboto,sans-serif;
    color: red;
    text-align: right;
    margin-bottom: 0;
}


.ot-text-zagol{
    font-size: 34px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    color: #CF1C30;
    line-height: 38px;
    text-align: left;
}

.ot-text-cena{
    font-size: 20px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    color: black;
    line-height: 24px;
    text-align: left;
}

.ot-text-old-cena{
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    color: grey;
    line-height: 18px;
    text-align: left;
    text-decoration: line-through;
}

.ot-text-opisanie{
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    color: black;
    line-height: 20px;
    text-align: left;

}

.tab-text-bazov {

    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    line-height: 16px;
    text-align: left;
}

.tab-text-zagol {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 600;
    font-family: Roboto,sans-serif;
    line-height: 12px;
    color: #CF1C30;
    text-align: left;
}

/*ONE TOVAR  END */


/*KARTA */

#shops li {
    list-style-type: none;
    margin-bottom: 20px;
}

#shops li:hover {
       cursor: pointer;
       text-decoration: underline;

}
   #cityShop {
    /*   margin: 10px; */
}

.magazines{
    font-size: 12px;
}

.cities-magazines{
    font-size: 12px;
    width: 100%;
    height: 28px;
    border: 1px solid #a0a0a0;

}


.karta-zag {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #d71e49;
    margin-bottom: 0;
}

.karta-podzag {
    font-size: 12px;
    color: #a0a0a0 !important;
    margin-bottom: 10px;
}

.mag-name {
    color: #d71e49; /* Цвет текста */
    font-weight: 600; /* Жирное начертание */
}

.mag-opisanie {
    color: #417dff; /* Цвет текста */
    font-weight: 600; /* Жирное начертание */
}


.map__search {
    position: relative;

}
.map__field, .map__buttom {
    border: 1px solid #9a9a9a;
    outline: none;
}
.map__field {

    font-size: 12px;
    color: #a0a0a0 !important;
    margin-top: 6px;
    padding-left: 3px;

    width: 100% ;
    height: 28px;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;

}

.map__field:focus {
    border: 1px solid #6c6c6c;
}

.map__field::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.map__select {
    position: absolute;

    top: 8px;
    right: 50px;
    width: 114px;

    background: #5e5e5e;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: white;

    outline: none !important;
}

.map__buttom {
    height: 28px;
    width: 28px;
    position: absolute;
    top: 6px;
    right: 0px;
    background: #9a9a9a;
    cursor: pointer;
    outline: none !important;
}

.map__buttom:before {
    content: "\f002";
    font-family: FontAwesome;
    color: white;
    font-size: 15px;
}

.map__buttom:hover {
    background: #6c6c6c;
}

.map-razmer {
    width: 100%;
    height: 500px;
}





/*KARTA END*/

/* Определение города */
#modal_form {
    max-width: 400px;
    width: 100%;
    height: 240px;
    border: 1px solid grey;
    border-radius: 5px;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -290px;
    margin-left: -170px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}

.boxShadow8 {
    width: 80%;
    max-width: 550px;
    margin: 2em auto;
    padding: 1em;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

#modal_form #modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

#overlay {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
#insol-map-modal{width: 100%;float:right;margin:10px;
display: none;}
#spisok-gorodov{width: 100%;margin:10px;float:left;}
#spisok-gorodov table{width:100%;}
#spisok-gorodov td{text-decoration:underline;cursor:pointer;}


/* Определение города END*/



.b-page {
  background: #dedfe0;
}

.vn-page {
    background: white;
}

.wrapper {
  margin: 0 auto !important;
}

/* ASIDE */

.aside {
    background: #f8f8f8;

}

/* path */

.aside__path {
  background: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 8px;
}

.aside__path_niz {

    padding-top: 8px;
}



.path {
  margin-bottom: 0 !important;
}

.path-item {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;

}

.sortirovka {
    align-content: right;

}

.path-link-kol-vo {
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    margin: 0 1px 0 1px;
    padding: 0 5px;
    font-size: 14px;
    height: 24px;
    color: #43a9ff; !important;
    background: #f8f8f8;
}

.path-link-vpered {
    margin: 0 1px 0 1px;
    padding: 0 5px;
    font-size: 12px;
    height: 24px;
    color: #43a9ff; !important;
    background: #f8f8f8;
}

.path-link-sort {

    height: 24px;
    color: #43a9ff; !important;
    background: #f8f8f8;
}

.path-link {
  color: #a0a0a0 !important;
}

.path-link:hover {
  text-decoration: none;
  color: #000000 !important;
}
/* path end*/

/* sort */
.aside__sort {
  flex-grow: 1;

  outline: 1px solid #d1d1d1;
  padding: 15px;

  height: 400px;
}

.main-item {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #d71e49;
}

.main-item:hover {
  text-decoration: none;
  color: #b60d35;
}

.under-sort {
  line-height: 1 !important;
}

.sort-item {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;

  color: #000000;
}

.sort-item:hover {
  text-decoration: none;
  color: #b60d35;
}
/* sort end */

/* filter */

.sbros {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}


.filtr {
    flex-grow: 1;
}

.aside__line {
    margin: 15px auto;
    width: 100%;
    height: 1px;
    background: #d1d1d1;
}

.filtr__button {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #000000;
}

.filtr__button {
    text-decoration: none !important;
    color: #000000 !important;
}

.button__arrow-icon:before {
    content: "| \f107";
    font-family: FontAwesome;
    color: #d1d1d1;
    font-size: 18px;

    padding-left: 60%;
}

.сheck-bar__box[type="checkbox"] {
  display: none;

}

.сheck-bar__text {
    color: #000;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    padding: 2px 0;
    vertical-align: middle;

}

.сheck-bar__text:before {
    content: " ";
    display: inline-block;
    font-family: FontAwesome;
    font-weight: 300;
    margin-right: 15px;

    padding: 2px 1px 0 0;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 15px;
    height: 15px;
    background: white;
    border-image: initial;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid #b3acb3;
}

.сheck-bar__box:checked + .сheck-bar__text:before {
    content: "\f00c";
    background: #43a9ff;
    color: white;
}

.сheck-bar__box:disabled + label:before {
    background: white;
    color: white;


}






/* akcii one */

.akcii-img {
    float: left;
}

.akcii-box {
width: 100%;
    height: auto;
    border: 1px solid #b60d35;
    margin-bottom: 10px;
}

.akcii-img {
    margin: 5px;
    padding-left: 0;
    padding-right: 0;
    float: left;
}

.akcii-text {
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.akcii-text-bold {
    font-size: 14px;
    font-weight: 500;
    color: #0b51c5;
}


/* akcii one end */

.box-item-parent{
    margin: 10px 40px 10px 40px;

}

.product-tabs1 {
 /*   border-right: 1px solid #979797; */
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 75px;
}

.product-tabs-zagolov {
    font-size: 18px;
    font-weight: 500;
    color: #b60d35;
}

.product-tabs2 {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 20px;
    padding-right: 0px;

}

.product-tabs3 {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
    padding-right: 0px;

}

.feature-text-ingredients1 {
    height: 100%;
    background: url(../img/fon1.jpg) no-repeat 100% 0;
    background-size: auto;
}

.feature-text-ingredients2 {
    height: 100%;
    background: url(../img/fon2.jpg) no-repeat 100% 0;
    background-size: auto;
}

.feature-text-ingredients3 {
    height: 100%;
    background: url(../img/fon3.jpg) no-repeat 100% 0;
    background-size: auto;
}

.feature-text-ingredients4 {
    height: 100%;
    background: url(../img/fon4.jpg) no-repeat 100% 0;
    background-size: auto;
}




.product-tabs-text-zagol{
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
    color: #00659f;
}

.feature {
   padding-right: 10px;
}

.product-tabs-text-bazov{
    font-size: 12px;
}


.otstup-left {
    padding-left: 40px;
}

.otstup-left-big {
    padding-left: 100px;
}

.text-zagol {
    margin-bottom: 10px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    line-height: 12px;
    color: #CF1C30;
    text-align: left;
}
/* spisok pokupok */

/* --------------------------------


/* ползунок */
@import url(//atmpl.ru/design/style-elements/2015/style-range/style-range.css);

.scale#rangeone[type="range"]{
-webkit-appearance: none;
-moz-apperance: none;
width: 100%;
height: 2px;
padding: 0 10px;
background: #0000ff;
background: -moz-linear-gradient(left, #0000ff 0%, #0000ff 50%, #000000 50%, #000000 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#aaa), color-stop(50%,#aaa), color-stop(50%,#aaa), color-stop(100%,#aaa));
background: -webkit-linear-gradient(left, #aaa#aaa 50%,##aaa 50%,#aaa 100%);
background: -o-linear-gradient(left, #aaa 0%,#aaa 50%,#aaa 50%,#aaa 100%);
background: -ms-linear-gradient(left, #aaa 0%,#aaa 50%,#aaa 50%,#aaa 100%);
background: linear-gradient(to right, #aaa 0%,#aaa 50%,#aaa50%,#aaa 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#000000',GradientType=1 );
border-radius: 2px;
margin-top: 25px;
outline: none !important;
}
.scale#rangeone[type="range"]::-webkit-slider-thumb{
-webkit-appearance:none;
-moz-apperance:none;
width:15px;
height:15px;
-webkit-border-radius:20px;
-moz-border-radius:20px;
-ms-border-radius:20px;
-o-border-radius:20px;
border-radius:20px;
background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #d7d7d7), color-stop(0.51, #d1d1d1), color-stop(1, #c8c8c8) );
border: 1px solid #787878;
}
/* ползунок end */
/* filter end */

/* ASIDE END */

/* SHOP */
.for_valid {
  display: none;
}

.bg_white {
  background: #f8f8f8;
}

.shop {
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
}

.shop__item {
  width: 200px;
  position: relative;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  background: white;
  outline: 1px solid #dedfe0;
    line-height: 1.3;
}

/* like */
.code
{
    background: #EFEFEF none repeat scroll 0 0;
    border: #CCCCCC solid 1px;
    font-family: monospace;
    font-size: 0.9em;
    padding: 1em 0.5em 1em 2em;
}

/* like */

/* like */

.like-bar__box[type="checkbox"] {
 display: none;
}


.like-bar__text:before {
 content: " ";
 display: inline-block;
 font-family: FontAwesome;

 margin-right: 15px;
 padding: 2px 2px 0 0;
 position: absolute;
 text-align: center;
 text-indent: 0px;
 width: 15px;
 height: 15px;
 background: url(img/like.png) no-repeat;
 border-image: initial;
 vertical-align: middle;
 border-radius: 3px;
 right: 0;
}

.like-bar__box:checked + .like-bar__text:before {
 background: url(img/like-red.png) no-repeat;
}


/* like end*/

.img-fluid {
    padding-bottom: 8px;
}

.item__description {
  margin: 0 auto;
  max-width: 190px;
    height: 25px;
  font-size: 15px;
    font-weight: 300;
line-height: 1.3;
  color: #000000;
    margin-bottom: 8px;

}

.item__description:hover {
  text-decoration: none;
  color: #b60d35;
}

.item__price {

    margin: 5px auto 5px auto;
  max-width: 85%;
    text-align: center;
  font-size: 20px;
    font-weight: 500;
  background: #f8e9e9;

}

.item__ruble {
    font-family: 'PT Sans', serif;
    font-weight: 300;
    font-size: 20px;
}

.item__ruble_old {
    font-family: 'PT Sans', serif;
    font-weight: 300;
    font-size: 16px;
}

.item__old-price {
  text-decoration: line-through;
  font-size: 16px;
  margin: 0 auto;
  color: #969697;
    font-weight: 300;
}

.item__in-shop {
    padding-top: 5px;
  font-size: 12px;
  margin: 0 auto;
}

.in-shop__link:hover {
  text-decoration: none;
  color: #b60d35;

}

.item__werehouse {
  padding-top: 5px;
    padding-bottom: 15px;
}
/* SHOP END */

/* KARUSEL */

.carusel {
  background: #ffffff;
  flex-direction: row;
  align-items: center;
  margin: 0 auto !important;
}

.title_red {
  font-family:Puuump;
  font-size: 22px;
  text-align: center;

  color: #cd092f;
}


.line_red{
  width: 100%;
  height: 3px;
  background: #cd092f;
  margin: 25px 0;
}

.caruslel-aria {
  margin: 0 auto !important;


}

.caruslel-aria__discription {
  justify-content: space-between;
  background: #E3E4E5;
  align-items: center;
}

.discription-first {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000000;

  margin: 10px 0;
}

.discription-two {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ff0000;

  margin: 10px 0;
}

.caruslel-aria__slids {
  padding: 15px 0 30px 0;
  outline: 2px solid #EAEBEC;
  outline-offset: -2px;
}

.carousel {
  align-items: center;
}

.carousel-control{
  text-align: center;
  opacity: 0.8;
  border-radius: 30px;
}

.carousel-control:hover {
  opacity: 1;
}

.slide__item {
  padding: 0 10px;
  max-width: 208px
}

.slide__title {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
}

.slide__discription{
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #000000;
  line-height: 12px !important;
}

.discription {
  margin: 8px 8px 0 0 ;
}

.slide__discription:hover {
  text-decoration: none;
  color: #b60d35;
}

.slide__price {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #c94747;
}

.slide__old-price {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #969494;
  text-decoration: line-through;
}

/* mobail */

.mobail {
  justify-content: center;
  display: none !important;
}

/* mobail end*/

/* tablet */

.slide {
  justify-content: center;
}

.tablet {
  display: none;
}

/* tablet end*/

/* KARUSEL END*/

/* SOCIAL */

.social-bar {
  padding-top: 30px;
  margin: 0 auto !important;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  text-align: center;
}

.social-bar__f {
  padding: 4px 0;

  color: #c8c8c8;
  background: #00659f ;
}

.social-bar__f:hover {
  color: white;
  text-decoration: none;
}

.social-bar__t {
  padding: 4px 0;

  color: #c8c8c8;
  background: #00c7f0 ;
}

.social-bar__t:hover {
  color: white;
  text-decoration: none;
}

.social-bar__yt {
  padding: 4px 0;

  color: #c8c8c8;
  background: #ff1844 ;
}

.social-bar__yt:hover {
  color: white;
  text-decoration: none;
}

.social-bar__i {
  padding: 4px 0;

  color: #c8c8c8;
  background: #1d7aa0 ;
}

.social-bar__i:hover {
  color: white;
  text-decoration: none;
}


/* SOCIAL END */

/* FOOTER */

.footer {
  background: #b90f37;
}

.footer__footer-content {
  margin: 0 auto !important;
  align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__adres{
  padding-top: 15px;
  align-self: flex-start;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;

  color: white;
}

.adres {
  margin: 0;
  font-weight: bold;
}

.footer__ur-info{
  padding-top: 15px;
  align-self: flex-start;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;

  color: white;
}

.ur-info {
  margin: 0;
  font-weight: bold;
}
/* FOOTER END */

/* slick slider */
.slick-active {
    outline: none;
}

.arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 99;
    top: 50%;
    border: none;
    transform: scaleY(-50%);

}

.prev {
    left: 5px;
    transform: scaleY(-50%);
    background: url("../img/slider_left.png") center no-repeat;
    background-size: 90%;
}

.next {
    right: 5px;
    transform: scaleY(-50%);
    background: url("../img/slider_right.png") center no-repeat;
    background-size: 90%;
}

.slick-border{
    border: 1px solid lightgrey;
    padding: 10px 10px 10px 10px;
}

/* ADAPTIVE -------------------------------------- */
/*  XL  -------------------------------------- */
@media only screen and (max-width: 1200px ){


    /* NAVBAR */
  .nav-line__menu {
    padding: 10.5px 20px !important;
  }
  .link{
    padding: 13px 20px !important;
  }

  .link-akcia {
    padding: 13px 20px !important;
  }
}
/*  LG  -------------------------------------- */
@media only screen and (max-width: 992px ){



    /* NAVBAR */
  .nav-line__menu {
    padding: 10.5px 5px !important;
  }
  .link{
    padding: 13px 5px !important;
  }

  .link-akcia {
    padding: 13px 5px !important;
  }

  .place-wrap {
    padding-top: 15px;


  }

  /* ASIDE */
  /* sort */
  .main-item {
    font-size: 15px;
  }

  .button__arrow-icon:before {
    padding-left: 30%;
  }
  /* KARUSEL */
  .tablet {
    display: block;
    }

    .desktop {
     display: none;
    }

  }
  /*  MD  -------------------------------------- */
@media only screen and (max-width: 769px ){

    table {
        overflow-x: auto;
        display: block;
    }

    /* заголовок болььшой */
    .text-title {
        font-size: 26px;
        top: 14px;
    }

    .text-title-grey {
        font-size: 26px;
        top: 14px;
    }
    /* ваш город/магазин */
  .head__your-city {
    background: url(img/map-pin.png ) no-repeat 15px 5px;
    padding-top: 5px;

  }

  .head__your-shop {
    background: url(img/korzina.png ) no-repeat 15px 5px;

    padding-top: 5px;
  }

  .your-city__title{
    padding: 5px 0 0 23px;
  }
  .your-city__button {
    padding: 0 0 0 23px;
  }
  .your-shop__title{
    padding: 5px 0 0 32px;
  }
  .your-shop__button {
    padding: 0 0 0 32px;
  }

  /* NAVBAR */
  .link {
    display: none !important;
  }

  .nav-line {
    justify-content: flex-start !important;
    padding-left: 30px !important;
  }

  .link-akcia {
    border-left: 0px solid #323335;
  }

  /* ASIDE */
  .button__arrow-icon:before {
    padding-left: 80%;
  }

  .aside {
    padding: 15px 0;
  }

  /* KARUSEL */
  .title_red {
    font-size: 20px;
  }

  .discription-first {
    font-size: 16px;
  }

  .discription-two {
    font-size: 11px;
  }

  .mobail {
    justify-content: center;
    display: block !important;
  }

  .tablet {
    display: none;
  }

    table {
        overflow-x: auto;
        display: block;
    }

}


/*  SM --------------------------------------  */
@media only screen and (max-width: 576px ){
  .serch__select {
    width: 90px;
  }

    /* заголовок болььшой */
    .text-title {
        font-size: 22px;
        top: 17px;
    }
    .text-title-grey {
        font-size: 22px;
        top: 17px;
    }

    /* ваш город/магазин */

  .your-shop__title{
    padding: 5px 0 0 12px;
  }
  .your-shop__button {
    padding: 0 0 0 12px;
  }

  /* NAVBAR */
  .nav-line {
    padding-left: 15px !important;
  }

  /* ASIDE */
  .button__arrow-icon:before {
    padding-left: 80%;
  }

  /* KARUSEL */
  .title_red {
    padding: 15px 0;
    margin: 0;
    font-size: 16px;
  }

  .line_red{
    display: none;
  }

  .caruslel-aria__discription {
    flex-direction: column;
  }

    table {
        overflow-x: auto;
        display: block;
    }
}

@media only screen and (max-width: 472px ){
  /* ASIDE */
    /* заголовок болььшой */
    .text-title {
        font-size: 18px;
        top: 20px;
    }
    .text-title-grey {
        font-size: 18px;
        top: 20px;
    }

    table {
        overflow-x: auto;
        display: block;
    }

    .button__arrow-icon:before {
    padding-left: 70%;
  }
}

@media only screen and (max-width: 340px ){
  /* ASIDE */
    /* заголовок болььшой */
    .text-title {
        font-size: 15px;
        top: 22px;
    }

    table {
        overflow-x: auto;
        display: block;
    }

    .button__arrow-icon:before {
    padding-left: 60%;
  }

}
