<!DOCTYPE html>
<html>
  <head>
    <title>МегаМаг - шопинг для жизни и души</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <style>
      .main-logo-item {
        display: flex;
        justify-content: center;
      }
    </style>
  </head>
  <body style="height: 100vh">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-sm-12 col-md-3 bg-dark px-0 py-0">
          <ul class="list-group w-100">
            <li class="list-group-item bg-dark"><a class="text-light main-logo-item" href="/"><img src="/static/img/logo-footer.png" alt="МегаМаг" class="w-50"></a></li>
            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/admins">Администраторы</a></li>
            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/regions">Регионы</a></li>
            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/stores">Магазины</a></li>
            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/products">Товары</a></li>
            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/promotions">Промоакции</a></li>
            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/categories">Категории</a></li>
            <li class="list-group-item bg-dark"><a class="text-light" href="/logout">ВЫЙТИ</a></li>
<!--            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/recommended-products">Рекомендуемые товары</a></li>-->
<!--            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/products-availability">Наличие товаров</a></li>-->
<!--            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/products-price">Цены товаров</a></li>-->
<!--            <li class="list-group-item bg-dark"><a class="text-light" href="/admin/category-products">Категории товаров</a></li>-->
          </ul>
        </div>
        <div class="col-sm-12 col-md-9" style="overflow: scroll">
          {{#if success_mesages }}
            <div class="alert alert-success">{{success_mesages}}</div>
          {{/if}}
          {{#if error_messages }}
            <div class="alert alert-danger mb-2">{{error_messages}}</div>
          {{/if}}
          {{{body}}}
        </div>
      </div>
    </div>
  </body>
</html>